@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --admin-primary: #8CDCFF;
    --admin-secondary: #F3FBFF;
    --admin-accent: #FFF5EB;
    --admin-accent-secondary: #FFE4C8; /* same color for card buttons */
    --admin-accent-sub: #F2CAA0;
    --admin-card: #FFF;
    --admin-highlight: #9DC300;
    --admin-highlight-dark: #88A900;
    --admin-sub: #B9CCDC;
    --admin-sub-secondary: #A1B3C4;
    --admin-sub-highlight: #92A6B9;
    --admin-sub-bright: #5B7690;

    --primary-100: #99CBD1;
    --primary-200: #736767;
    --primary-300: #B28871;
    --primary-400: #D1C7AC;
    --primary-500: #D4B66E;
    --primary-600: #D9A16E;
    --accent: #740A0A;
    --accent-dark: #5E0202;
    --card: #EBDEBD;
    --sub: #673F28;
    --highlight: #BDA89D;
    --highlight-dark: #9D8071;
    --text: #18120D;
    --text-dark: #F5F1E4;
    --pattern: url('/assets/footprints.svg');
  }

  [data-theme='light'] {
    --admin-primary: #8CDCFF;
    --admin-secondary: #F3FBFF;
    --admin-accent: #FFF5EB;
    --admin-accent-secondary: #FFE4C8; /* same color for card buttons */
    --admin-accent-sub: #F2CAA0;
    --admin-card: #FFF;
    --admin-highlight: #9DC300;
    --admin-highlight-dark: #88A900;
    --admin-sub: #B9CCDC;
    --admin-sub-secondary: #A1B3C4;
    --admin-sub-highlight: #92A6B9;
    --admin-sub-bright: #5B7690;
    
    --primary-100: #99CBD1;
    --primary-200: #736767;
    --primary-300: #B28871;
    --primary-400: #D1C7AC;
    --primary-500: #D4B66E;
    --primary-600: #D9A16E;
    --accent: #740A0A;
    --accent-dark: #5E0202;
    --card: #EBDEBD;
    --sub: #673F28;
    --highlight: #BDA89D;
    --highlight-dark: #9D8071;
    --text: #18120D;
    --text-dark: #F5F1E4;
    --pattern: url('/assets/footprints.svg');
  }

  [data-theme='dark'] {
    --admin-primary: #8CDCFF;
    --admin-secondary: #F3FBFF;
    --admin-accent: #FFF5EB;
    --admin-accent-secondary: #FFE4C8; /* same color for card buttons */
    --admin-accent-sub: #F2CAA0;
    --admin-card: #FFF;
    --admin-highlight: #9DC300;
    --admin-highlight-dark: #88A900;
    --admin-sub: #B9CCDC;
    --admin-sub-secondary: #A1B3C4;
    --admin-sub-highlight: #92A6B9;
    --admin-sub-bright: #5B7690;
    
    --primary-100: #99CBD1;
    --primary-200: #736767;
    --primary-300: #B28871;
    --primary-400: #D1C7AC;
    --primary-500: #D4B66E;
    --primary-600: #D9A16E;
    --accent: #740A0A;
    --accent-dark: #5E0202;
    --card: #EBDEBD;
    --sub: #673F28;
    --highlight: #BDA89D;
    --highlight-dark: #9D8071;
    --text: #18120D;
    --text-dark: #F5F1E4;
    --pattern: url('/assets/footprints.svg');
  }

  h1 {
    @apply my-3;
    @apply text-6xl;
    @apply md:text-7xl;
    @apply font-extrabold;
    @apply text-center;
    @apply lg:text-left;
  }

  h2 {
    @apply my-3;
    @apply text-5xl;
    @apply md:text-6xl;
    @apply font-extrabold;
    @apply uppercase;
    @apply text-center;
    @apply lg:text-left;
  }

  h3 {
    @apply my-2;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply font-bold;
    @apply text-center;
    @apply lg:text-left;
  }

  h4 {
    @apply my-2;
    @apply text-xl;
    @apply md:text-2xl;
    @apply font-semibold;
    @apply text-center;
    @apply lg:text-left;
  }

  p {
    @apply my-4;
    @apply text-base;
    @apply md:text-lg;
    @apply font-medium;
    @apply text-center;
    @apply lg:text-left;
  }

  li {
    @apply text-base;
    @apply md:text-lg;
  }

  button {
    @apply font-bold;
    @apply text-text-dark;
  }
}